
/bin
ffmpeg/ffmpeg.exe
ffmpeg/ffplay.exe
ffmpeg/ffprobe.exe
/.vs
/obj
/obj
/obj/Debug
/obj/Debug
/obj

.updater-information

*.pfx
*.crt
*.cert
*.cert
*.ca-bundle
*.pem
*.key

*.p7b
*.p7c
*.p7s
*.keystore
*.jks
*.p12

*.exe